<h1>Here are your search results:</h1>

<% if @results.any? %>

  <ul>
    <% @results.each() do |recipe| %>
      <li><a href='/band/<%= band.id %>'><%= band.name %></a></li>
    <% end %>
  </ul>

<% else %>

  <p>Search results not found.</p>

<% end %>
