<% if @venues.any? %>
  <i><b><h2>Venues</h2></b></i>
    <ul>
    <% @venues.each() do |venue| %>
      <li><a href="/venue/<%= venue.id %>/bands"><%= venue.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>You have not saved any venues yet.</p>

<% end %>
