<!DOCTYPE html>
<html>
<head>
  <b><title>Venues</title></b>
  <link rel='stylesheet' href='/css/style.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>

  <div class="jumbotron" style="
    padding-left: 0px;
    padding-right: 5px;
    height: 65px;
    margin-bottom: 0px;
    background: rgb(140, 73, 73);
    background: rgba(0, 0, 0, 1);
    padding-top: 0px;
    padding-bottom: 0px;
    width: 1900px;
">

<h1><font face="impact"><font color="white">PDX EventHub</font></font></h1>

  <p class="one">
  </p></div>



  <p class ="one" style="
  margin-bottom: 0px
  ">
  </div>
  <img src="/images/sticker.jpg">

  </div>
</p>
  <nav class="navbar navbar-default" style="
        background-color: rgba(67, 66, 4, .25);
        width: 1900px;
">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" <a class='btn btn-default' href='/'><font face="impact">Home</font></a>
    </div>



    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><a href='/bands/new'><font face="Georgia">Add Band</font></a></li>
        <li><a href='/bands'><font face="Georgia">Band List</font></a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Used books<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>

      <form action="/" method="post" class="navbar-form navbar-left" role="search">
         <div class="form-group">
           <label for="name">Venue:</label>
           <input id="name" name="name" type="text" placeholder="Add Venue" required>
         </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      </form>
      <nav>
    <nav class="navbar navbar-default navbar-fixed-bottom" style="
    background-color: rgba(0, 0, 0, 0.76);
    height: 45px;
    ">



    <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <p class="button">
      <button type="button" class="btn btn-primary">link</button>
      <button type="button" class="btn btn-primary">link</button>
      <button type="button" class="btn btn-primary">link</button>
      <span class="glyphicon glyphicon-search"></span>
	<span class="glyphicon glyphicon-cloud"></span>
      </p>

      <div class="container" style="
    padding-right: 500px;
    height: 800px;
">

  </ul>

  </div>
    </form>
  </div>
    </nav>
    </nav>



        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<p class="two" style="
background-color: black;
">

<div class="container" style="
padding-right: 0px;
height: 449px;
width: 365px;
margin-left: 0px;
margin-right: 0px;
background: rgba(500, 500, 500, 0.5);
">

</p>

    <%= yield %>
  </div>
</body>
</html>
